<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">Extra large
  modal</button>

<div class="modal fade bd-example-modal-xl body" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg " style="width: 1150px;" role="document">
    <div class="modal-content ">
      <div class="row body " style="padding: 0; margin: 0; ">
        <div class="col-md-7 ex3">
          <img src="assets/images/map.jpg" style="width: 580px;height: 500px; border-radius: 5px;">
          <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"><img src="assets/images/s1.jpg" width="50" height="50">
              <h5 style="color: #808080;"><b>XYZ</b></h5>
            </span>
            <span class="dot" onclick="currentSlide(1)"><img src="assets/images/s2.jpg" width="50" height="50">
              <h5 style="color: #808080;"><b>XYZ</b></h5>
            </span>
            <span class="dot" onclick="currentSlide(1)"><img src="assets/images/s3.png" width="50" height="50">
              <h5 style="color: #808080; "><b>XYZ</b></h5>
            </span>


          </div>
          <div class="top-left"
            style="border: 1px solid black; border-radius: 10px; padding-left: 10px; padding-right: 10px; background-color: white; font-family: roboto; color: black; ">
            <b>Restaurants</b></div>
          <div
            style=" position: absolute;
          top: 8px;
          left: 205px;border: 1px solid black; border-radius: 10px; padding-left: 10px; padding-right: 10px; background-color: white; font-family: roboto; color: black;">
            <b>Hospital</b></div>
          <div
            style=" position: absolute;
          top: 8px;
          left: 360px;border: 1px solid black; border-radius: 10px; padding-left: 10px; padding-right: 10px; background-color: white; font-family: roboto; color: black;">
            <b>Cafe</b></div>
          <div
            style=" position: absolute;
          top: 8px;
          left: 425px;border: 1px solid black; border-radius: 10px; padding-left: 10px; padding-right: 10px; background-color: white; font-family: roboto; color: black;">
            <b>Petrol</b></div>
          <div
            style=" position: absolute;
          top: 8px;
          left: 290px;border: 1px solid black; border-radius: 10px; padding-left: 10px; padding-right: 10px; background-color: white; font-family: roboto; color: black;">
            <b>ATM</b></div>
          <div
            style=" position: absolute;
          top: 8px;
          left: 125px;border: 1px solid black; border-radius: 10px; padding-left: 10px; padding-right: 10px; background-color: white; font-family: roboto; color: black;">
            <b>Garrage</b></div>

          <div class="top-right"
            style="border: 1px solid black; border-radius: 10px; padding-left: 10px; padding-right: 10px; background-color: white; font-family: roboto; color: black;">
            <b>Hotel</b></div>
        </div>
        <div class="col-md-5 ex3" style="padding-left: 20px;">
          <br>
          <br>
          <h2 style="display: inline; font-family: roboto;">$79,000,000</h2>
          <h5 style="display: inline;margin-left: 20px;font-family: roboto;"><b>6 </b>bd </h5>
          <h5 class="vl" style="display: inline; margin-left: 10px; opacity: 0.6;"></h5>
          <h5 style="display: inline;margin-left:10px; text-decoration: underline;
          text-decoration-style:dotted;font-family: roboto;"><b>8 </b>ba </h5>
          <h5 class="vl" style="display: inline; margin-left: 10px; opacity: 0.6;"></h5>
          <h5 style="display: inline;margin-left: 10px;font-family: roboto;"><b>20,000 </b>sq/ft</h5>
          <div style="padding-top: 10px;">
            <h5 style="color: red; opacity: 0.6; display: inline;font-family: roboto;"><b>Price cut : $9M (1/8)</b></h5>
            <h5 class="vl" style="display: inline; margin-left: 10px; opacity: 0.6;"></h5>
            <h5 style="display: inline; padding-left: 10px; opacity: 0.9;font-family: roboto;"><b>12 E 69th St, New
                York, NY 10021</b></h5>
          </div>
          <div style="padding-top: 20px;"><button class="button button2"><b class="font-family: roboto;">Contact
                Agent</b></button><button class="button button2" style="margin-left: 15px; font-family: roboto;"><b>Take
                A Tour</b></button></div>
          <hr>
          <div class="row ">
            <div>
              <h3 style="font-family: roboto;"><b style="margin-left: 15px;">Facts</b></h3>
            </div>
            <div class="col-md-3">
              <h5 style=" font-family: roboto; line-height: 20px;"><b>Super Area <br><data style="color: #808080;">900
                    sq/ft</data></b></h5>
            </div>
            <div class="col-md-3">
              <h5 style=" font-family: roboto; line-height: 20px;"><b>Carpet Area <br><data style="color: #808080;">700
                    sq/ft</data></b></h5>
            </div>
            <div class="col-md-3">
              <h5 style=" font-family: roboto; line-height: 20px;"><b>3BHK</b></h5>
            </div>
            <div class="col-md-3">
              <img src="https://img.icons8.com/wired/20/000000/stairs-up.png" style="color: black;">
              <h5 style="color: #808080; font-family: roboto; "><b>4th/7th</b></h5>
            </div>

          </div>
          <hr>
          <div class="row">
            <div>
              <h3 style="font-family: roboto;"><b style="margin-left: 15px;">Local Information</b></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <img src="assets/images/map.png" style="width: 110px; height: 100px; border-radius: 5px;">
              <h5 style="font-family: roboto;"><b>Schools</b></h5>
              <h6 style="line-height: 0.5;font-family: roboto;"><b>10 Kids Schools</b></h6>
              <h6 style="line-height: 0.5;font-family: roboto;"><b>9 Middle Schools</b></h6>
              <h6 style="line-height: 0.5;font-family: roboto;"><b>7 High Schools</b></h6>
            </div>
            <div class="col-md-4">
              <img src="assets/images/map.png" style="width: 110px; height: 100px; border-radius: 5px;">
              <h5 style="font-family: roboto;"><b>Crime</b></h5>
              <h6 style="font-family: roboto;"><b>Moderate crime to the rest of San Francisco county.</b></h6>
            </div>
            <div class="col-md-4">
              <img src="assets/images/map.png" style="width: 110px; height: 100px; border-radius: 5px;">
              <h5 style="font-family: roboto;"><b>Shops & Eat</b></h5>
              <h6 style="line-height: 0.5;font-family: roboto;"><b>1005 Restaurants</b></h6>
              <h6 style="line-height: 0.5;font-family: roboto;"><b>201 Groceries</b></h6>
              <h6 style="line-height: 0.5;font-family: roboto;"><b>440 Nightlife</b></h6>
            </div>
          </div>
          <hr>
          <div class="row">
            <div>
              <h3 style="font-family: roboto;"><b style="margin-left: 15px;">Description</b></h3>
            </div>
            <div class="row">
              <h5 style="padding-left: 30px; font-weight: bolder; color: #808080; font-family: roboto;">2 bedroom Below
                Market Rate (BMR) housing opportunity available <br>at
                100% Area Median Income (AMI). Maximum income for 2 people <br>= $98, 500; 3 = $110, 850; 4 = $123, 150,
                etc. Must be 1st-time<br> homebuyer & income eligible.Unit available thru the Mayor's Office <br> of
                Housing and Community Development (MOHCD) & subject to <br>resale controls, monitoring & other
                restrictions.</h5>

            </div>

          </div>
          <hr>
          <div class="row">
            <h3 style="font-family: roboto;"><b style="margin-left: 15px;">Interior details</b></h3>
          </div>
          <div class="row">
            <div class="col-md-3">
              <img src="https://img.icons8.com/ios/35/000000/bed.png" style="opacity: 0.6; padding-left: 18px; ">
              <h5 style="font-family: roboto;margin-left: 7px; line-height: 0.5px;"><b>3 </b><b
                  style="color: red;">B</b>edroom
              </h5>
            </div>
            <div class="col-md-3">
              <img src="https://img.icons8.com/ios/35/000000/corridor.png" style="opacity: 0.6; ">
              <h5 style="font-family: roboto; line-height: 0.5px;"><b>1 </b><b style="color: red;">H</b>all</h5>
            </div>
            <div class="col-md-3">
              <img src="https://img.icons8.com/ios/35/000000/kitchen-room.png"
                style="opacity: 0.6; padding-left: 12px;  ">
              <h5 style="font-family: roboto; line-height: 0.5px;"><b>2 </b><b style="color: red;">K</b>itchen</h5>
            </div>
            <div class="col-md-3">
              <img src="https://img.icons8.com/ios/35/000000/room.png" style="opacity: 0.6; padding-left: 12px;">
              <h5 style="font-family: roboto; line-height: 0.5px;"><b>1
                </b><b style="color: red;">S</b>ervent</h5>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <img src="https://img.icons8.com/ios/35/000000/bath.png" style="opacity: 0.6; padding-left: 15px; ">
              <h5 style="font-family: roboto; line-height: 0.5px; margin-left: 15px;"><b>2
                </b><b style="color: red;">Ba</b>th</h5>
            </div>
            <div class="col-md-3">
              <img src="https://img.icons8.com/ios/35/000000/toilet-bowl.png" style="opacity: 0.6; ">
              <h5 style="font-family: roboto; line-height: 0.5px;"><b>2
                </b><b style="color: red;">T</b>oilet</h5>
            </div>
            <div class="col-md-3">

              <img src="https://img.icons8.com/ios/35/000000/school.png" style="opacity: 0.6; ">
              <h5 style="font-family: roboto; line-height: 0.5px;"><b>1
                </b> <b style="color: red;">St</b>udy </h5>

            </div>

          </div>
          <hr>
          <div class="row">
            <h3 style="font-family: roboto;"><b style="margin-left: 15px;">Society Amenities</b></h3>
          </div>
          <div class="row">
            <div class="col-md-2">
              <img src="https://img.icons8.com/windows/35/000000/elevator.png" style="opacity: 0.6;display: block;
              margin-left: auto;
              margin-right: auto;">
              <h5 style="font-family: roboto;  line-height: 0.5px; text-align: center;"><b>Lift</b></h5>
            </div>
            <div class="col-md-2">
              <img src="https://img.icons8.com/windows/35/000000/coniferous-tree.png" style="opacity: 0.6;display: block;
              margin-left: auto;
              margin-right: auto; ">
              <h5 style="font-family: roboto; line-height: 0.5px; text-align: center;"><b>Garden</b></h5>
            </div>
            <div class="col-md-2">
              <img src="https://img.icons8.com/windows/35/000000/security-guard.png" style="opacity: 0.6;display: block;
              margin-left: auto;
              margin-right: auto; ">
              <h5 style="font-family: roboto; line-height: 0.5px;text-align: center;"><b>Security</b></h5>
            </div>
            <div class="col-md-2">
              <img src="https://img.icons8.com/ios/35/000000/cricket.png" style="opacity: 0.6;display: block;
              margin-left: auto;
              margin-right: auto; ">
              <h5 style="font-family: roboto; line-height: 0.5px;text-align: center;"><b>Sports
                </b></h5>
            </div>
            <div class="col-md-2">
              <img src="https://img.icons8.com/small/35/000000/seesaw.png" style="opacity: 0.6;display: block;
              margin-left: auto;
              margin-right: auto; ">
              <h5 style="font-family: roboto; line-height: 0.5px;text-align: center;"><b>playground
                </b></h5>
            </div>
            <div class="col-md-2">
              <img src="https://img.icons8.com/small/35/000000/front-gate-closed.png" style="opacity: 0.6;display: block;
              margin-left: auto;
              margin-right: auto; ">
              <h5 style="font-family: roboto; line-height: 0.5px;text-align: center; "><b>Gate
                </b></h5>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-2">
              <img src="https://img.icons8.com/material-outlined/35/000000/parking.png" style="opacity: 0.6;display: block;
              margin-left: auto;
              margin-right: auto; ">
              <h5 style="font-family: roboto; line-height: 0.5px;text-align: center;"><b>Parking
                </b></h5>
            </div>
            <div class="col-md-2">
              <img src="https://img.icons8.com/windows/35/000000/plumbing.png" style="opacity: 0.6;display: block;
              margin-left: auto;
              margin-right: auto; ">
              <h5 style="font-family: roboto; line-height: 0.5px;text-align: center;"><b>Water
                </b></h5>
            </div>
            <div class="col-md-2">
              <img src="https://img.icons8.com/small/35/000000/lightning-bolt.png" style="opacity: 0.6;display: block;
              margin-left: auto;
              margin-right: auto; ">
              <h5 style="font-family: roboto; line-height: 0.5px;text-align: center;"><b>Power
                </b></h5>
            </div>
          </div>
          <hr>
          <div class="row">
            <h3 style="font-family: roboto;"><b style="margin-left: 15px;">Furnishings</b></h3>
          </div>
          <div class="row">
            <div class="col-md-2">
              <img src="https://img.icons8.com/ios/35/000000/pipelines.png" style="opacity: 0.6;display: block;
                margin-left: auto;
                margin-right: auto;">
              <h5 style="font-family: roboto; line-height: 0.5px; text-align: center;"><b>Gas
                </b></h5>
            </div>
          </div>
        </div>
      </div>
    </div>