#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  .vl {
    border-left: 1px solid black;
    height: 200px;
  }
  .button {
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
  }
  .button2 {
    background-color: white; 
    color: black; 
    border: 1px solid #808080;
    
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  div.ex3 {
    padding-left: 0;
    height: 595px;
    width: 50%;  
    overflow-y: auto;
    overflow-x: hidden;
  }
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  .top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
.dot {
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}